:css
  #center {padding:  15% 0;}
#center
  %p.text-center
    = link_to "Evaluation Data test", evaluation_index_path, class: "btn btn-primary"
  %p.text-center
    = link_to "Faculty Member Historical Data test", instructor_index_path, class: "btn btn-primary"
