:css
  #title  {padding:5% 0;}
  #buttons {padding: 6% 0;}
#title  
  %h1.text-center PICA Utilities
#buttons
  %p.text-center
    = link_to "Evaluation Data", evaluation_index_path, class: "btn btn-primary"
  %p.text-center
    = link_to "Faculty Member Historical Data", instructor_index_path, class: "btn btn-primary"
